#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding:20px;
    /* Set the fixed height of the footer here */
    height: 60px;
    color: #fff;
    background: #333;
}

#maincontent {
    position:relative;
    height:680px;
}